html.body{
    height: 100%;
}
body{
    display: block;
    margin:8px;
    height: 100%;
    background-color:#6fb98f ;
    background-image:url("image2/les_tuman_tropa_138382_1400x1050.jpg");
  
    
    
}
.header{
    background-color:rgb(0, 0, 0,0.75);
    box-sizing: flex;
    border-bottom: 1px solid #a1d5e2;
    font-family: "Bad Script",cursive;
    
}
@media (max-width: 950px){
  .header{
   font-size: 10px;
  }
}

#menu{
   
     float: left;
    width: 300px;
    height: 1000px;
    padding: 0px auto;
    margin:0 auto;
    font-family: fantasy;
    font-size: 15px;
    position: left;
    box-shadow: 0 0 0 1px#a1d5e2,
      0 0 0 1px #a1d5e2,
      0 0 0 1px #a1d5e2,
      0 0 0 1px #a1d5e2;
      border-bottom: 1px solid #a1d5e2;
}
@media(max-width:1200px){
  #menu{
    float: none;
  }

}
.container{
  background: rgb(0, 0, 0,0.6);
  backdrop-filter: blur(5px);
    margin-top: 15px;
    overflow: hidden;
    zoom: 1;
    max-width: 100%;
    min-width: 30%;
    padding: 0px auto;
    margin:0 auto;
    margin-bottom: 20px;
   
    
    
  }
  @media (max-width: 1200px){
    .container{
      max-width: 997px;
    }
  }
  @media (max-width: 950px){
    .container{
      max-width: 750px;
    }
  }
  @media (max-width: 760px){
    .container{
      max-width: 510px;
    }
  }
  @media (max-width: 500px){
    .container{
      max-width: 300px;
    }
  }
  .content{
    float: right;
   width: 66%;
    height: 50%;
    margin-top: 15px;
    overflow: hidden;
    zoom: 1;
    margin: 0px auto;
    margin-right: 4%;
    position: right;
   
  
  }

  @media screen and (max-width: 1200px){
  .content {
      width: auto;
      float: none;
      margin: 20px 0;
  }
}
.back{
  background-color: rgb(0, 0, 0,0.75);
    float: bottom;
    zoom: 1;
    margin-bottom: 20px;
    padding: 50px 0px 50px;
    filter: blur(10px);
  }
  #box{
    margin: 0px auto;
    padding: 0px auto;
      float:right;
      font-size: 15px;
      max-width: 600px;
      max-height: 90%;
      backdrop-filter: blur(10px);
      
  }
  @media(max-width:500px){
    #box{
      float: none;
     margin: opx auto;
     padding: 0px auto;
    }
  
  }
  #box2{
    margin: 0px auto;
    padding: 0px auto;
      float:left;
      font-size: 15px;
      max-width: 600px;
      max-height: 90%;
  }
  @media(max-width:1200px){
    #box2{
      float: none;
    }
  
  }
  @media(max-width:500px){
    #box2{
      position: top;
      width: 40%;
    }
  
  }
  @media (max-width: 500px){
    #box{
      float: none;
      max-width: 500px;
      max-height: 90%px;
      backdrop-filter: blur(10px);
      
    }
  }
  #BoxStack{
    margin: 0px auto;
    padding: 0px auto;
      float:bottom;
      max-width: 500px;
      max-height: 700px;
      backdrop-filter: blur(10px);
      
  }
  @media (max-width: 500px){
    #BoxStack{
      border-top: 1px solid #a1d5e2;
      
      border-bottom: 1px solid #a1d5e2;
      box-shadow: 0 0 1px rgb(4, 0, 255),
      0 0  5px rgb(0, 140, 255),
      0 0  10px #6fb98f,
      0 0  20px #6fb98f;
    }
  }
  #BoxEducation{
    margin: 0px 0px;
    padding: 0px 0px;
      float: bottom;
      max-width: 500px;
      max-height: 700px;
      backdrop-filter: blur(10px);
  }
  @media (max-width: 500px){
    #BoxEducation{
      border-top: 1px solid #a1d5e2;
      border-bottom: 1px solid #a1d5e2;
      box-shadow: 0 0 1px rgb(4, 0, 255),
      0 0  5px rgb(0, 140, 255),
      0 0  10px #6fb98f,
      0 0  20px #6fb98f;
    }
  }
  #imageBox{
    margin: 5px auto;
    padding: 5px auto;
      position: relative;
      width: 60px;
      height: 90px;
      background-image: url("image2/cat.jpg");
      background-repeat: no-repeat ;
      border-radius: 20px ;
      box-shadow: 0 0 1px rgb(4, 0, 255),
      0 0  5px rgb(0, 140, 255),
      0 0  10px #6fb98f,
      0 0  20px #6fb98f;
  }
  #imageBox:hover{
    transform: scale(1.25);
    
  }
 
  #BoxWork{
    margin: 0px 0px;
    padding: 0px 5px;
      float:bottom;
      position: -webkit-sticky;
      max-width: 500px;
      max-height: 700px;
      filter: blur(px);
  }
  
  @media (max-width: 500px){
    #BoxWork{
      border-top: 1px solid #a1d5e2;
      border-bottom: 1px solid #a1d5e2;
      box-shadow: 0 0 1px rgb(4, 0, 255),
      0 0  5px rgb(0, 140, 255),
      0 0  10px #6fb98f,
      0 0  20px #6fb98f;
    }
  }
  #cont{
    position: relative;
  margin: 35px auto 0;
  width: 300px;
  height: 534px;
  opacity: 0;
  }
  #toggle{
    opacity: 0;
  }
  @media (max-width: 500px){
  #cont{
    position: relative;
  margin: 35px auto 0;
  width: 300px;
  height: 534px;
  background-color: #533557;
  overflow: hidden;
  }

  /*#toggle {
    position: absolute;
    left: -100%;
    top: -100%;
  }
  
  #toggle:focus ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  #toggle:checked ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  #toggle:checked ~ .toggle-container .button-toggle:hover {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  #toggle:checked ~ .toggle-container .button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(1);
  }
  #toggle:checked ~ .toggle-container .button-toggle:after {
    transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  #toggle:checked:focus ~ .toggle-container .button-toggle {
    box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  #toggle:checked ~ .nav {
    margin-bottom: 100px;
    pointer-events: auto;
    transform: translate(50px, 50px);
  }
  #toggle:checked ~ .nav .nav-item {
    color: #6fb98f;
    letter-spacing: 0;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    opacity: 1;
    transform: scaleY(1);
    transition: 0.5s, opacity 0.1s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(1) {
    transition-delay: 0.15s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(1):before {
    transition-delay: 0.15s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(2) {
    transition-delay: 0.1s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(2):before {
    transition-delay: 0.1s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(3) {
    transition-delay: 0.05s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(3):before {
    transition-delay: 0.05s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(4) {
    transition-delay: 0s;
  }
  #toggle:checked ~ .nav .nav-item:nth-child(4):before {
    transition-delay: 0s;
  }
  #toggle:checked ~ .nav .nav-item:before {
    opacity: 0;
  }
  #toggle:checked ~ .dummy-content {
    padding-top: 30px;
  }
  #toggle:checked ~ .dummy-content:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Кнопка для переключения */
  /*.button-toggle {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.6s;
  }
  .button-toggle:hover {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .button-toggle:before, .button-toggle:after {
    position: absolute;
    content: '#';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6fb98f;
    border-radius: 5px;
    transition: 0.5s;
  }
  .button-toggle:before {
    transform: translateY(-50%) rotate(45deg) scale(0);
  }
  .button-toggle:after {
    transform: translateY(-50%) rotate(-45deg) scale(0);
  }
  */
  /* Меню */
  /*.nav {
    display: inline-block;
    margin: 25px 25px 20px;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .nav-item {
    position: relative;
    display: inline-flexbox;
    float:left;
    clear: both;
    color: transparent;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: 0.5s, opacity 1s;
  }
  .nav-item:nth-child(1) {
    transition-delay: 0s;
  }
  .nav-item:nth-child(1):before {
    transition-delay: 0s;
  }
  .nav-item:nth-child(2) {
    transition-delay: 0.05s;
  }
  .nav-item:nth-child(2):before {
    transition-delay: 0.05s;
  }
  .nav-item:nth-child(3) {
    transition-delay: 0.1s;
  }
  .nav-item:nth-child(3):before {
    transition-delay: 0.1s;
  }
  .nav-item:nth-child(4) {
    transition-delay: 0.15s;
  }
  .nav-item:nth-child(4):before {
    transition-delay: 0.15s;
  }
  .nav-item:nth-child(1) {
    letter-spacing: -8px;
  }
  .nav-item:nth-child(2) {
    letter-spacing: -7px;
  }
  .nav-item:nth-child(n + 4) {
    letter-spacing: -8px;
    margin-top: -7px;
    opacity: 0;
  }
  .nav-item:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6fb98f;
    transform: translateY(-50%) scaleY(5);
    transition: 0.5s;
  }*/
  
  }
  
